body {
  font-family: Arial, sans-serif;
}

.intro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.gif-container {
  text-align: center;
}
