{% extends "base.html" %} {% block title %} Documentation Page {% endblock %}
{%block content %}
<div class="container">
    <h1 class="my-4">API Documentation</h1>

    <h2 class="my-3">Endpoints</h2>

    <section class="my-3">
        <h3>/api/facial_recognition</h3>
        <p>Description of the endpoint.</p>

        <h4>Request</h4>
        <pre>
POST /https://flask-api-omnilense.herokuapp.com/api/facial_recognition HTTP/1.1
Content-Type: application/json

{
    "user_id": "user_id of the current user",
    "device_sent_from": "web/app/test",
    "image": "image encoded in base64",
    "num_of_faces": "num_of_faces"
}
    </pre>

        <h4>Example Response</h4>
        <div id="example-response1" class="json-view">
      <pre>
HTTP/1.1 200 OK
Content-Type: application/json

{
    "message": "Face Found",
    "predicted_person": "["Ben DeSollar"]",
    "recents": ["Shows Recents"]
}
            </pre>
        </div>

        <h4>Example Call</h4>

        <label for="user-id-input">User ID:</label>
        <input
                type="text"
                id="user-id-input"
                value="LfqBYBcq1BhHUvmE7803PhCFxeI2"
        />

        <label for="device-sent-from-input">Device Sent From:</label>
        <select id="device-sent-from-input">
            <option value="web">web</option>
            <option value="app">app</option>
            <option value="test">test</option>
        </select>

        <label for="image-input">Image:</label>
        <input
                type="file"
                id="image-input"
                accept="image/*"
        />
        <img id="image-preview" src="" alt="Image Preview" class="image-wrapper"
             style="max-width: 400px; display: none;"/>

        <label for="num-of-faces-input">Number of Faces:</label>
        <input
                type="text"
                id="num-of-faces-input"
                value="1"
        />

        <div id="example-response" class="json-view">
            <!-- Example response will be populated by AJAX call -->
        </div>

        <button id="example-button" class="btn btn-primary my-3">
            Make Example Call
        </button>
    </section>
    <!-- Add more sections for other endpoints here -->
</div>
<!-- Add JavaScript and AJAX calls -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.js"></script>

<script>
    function readFileAndResizeImage(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.onload = function (event) {
                const img = new Image();
                img.src = event.target.result;
                img.onload = function () {
                    const canvas = document.createElement('canvas');
                    const ctx = canvas.getContext('2d');
                    const targetWidth = 400;
                    const scaleFactor = targetWidth / img.width;
                    canvas.width = targetWidth;
                    canvas.height = img.height * scaleFactor;
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                    const resizedImage = canvas.toDataURL();
                    resolve(resizedImage);
                };
            };
            reader.onerror = reject;
            reader.readAsDataURL(file);
        });
    }

    function displayImagePreview(imageFile) {
        const reader = new FileReader();
        reader.onload = function (event) {
            const imgPreview = document.getElementById("image-preview");
            imgPreview.src = event.target.result;
            imgPreview.style.display = "block";
        };
        reader.readAsDataURL(imageFile);
    }

    (function (jq) {
        jq("#image-input").change(function () {
            const imageFile = jq(this).prop("files")[0];
            if (imageFile) {
                displayImagePreview(imageFile);
            }
        });

        jq("#example-button").click(async function () {
            var user_id = jq("#user-id-input").val();
            var device_sent_from = jq("#device-sent-from-input").val();
            var imageFile = jq("#image-input").prop('files')[0];
            var num_of_faces = jq("#num-of-faces-input").val();

            if (!imageFile) {
                alert('Please upload an image file');
                return;
            }

            try {
                var resizedImage = await readFileAndResizeImage(imageFile);
            } catch (error) {
                console.error('Error while reading and resizing image', error);
                return;
            }

            jq.ajax({
                //url: "https://flask-api-omnilense.herokuapp.com/api/facial_recognition",
                url: "http://192.168.0.116:8000/api/facial_recognition",
                type: "POST",
                data: JSON.stringify({
                    user_id: user_id,
                    device_sent_from: device_sent_from,

                    image: resizedImage.replace(/^data:image\/\w+;base64,/, ''),
                    num_of_faces: num_of_faces,
                }),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    // Populate example response div with JSON response
                    jq("#example-response").JSONView(response, {collapsed: true});
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                },
            });
        });
    })(jQuery);
</script>
{% endblock %}
