{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="intro">
        <div class="container">
            <h1 class="my-4">Welcome to the Ironmen Facial Recognition API</h1>
            <p class="lead">This is a Flask app that uses the best of the best APIs to provide you with the best of the best content.</p>
            <p class="lead">Check out the <a href="/documentation">documentation</a> to learn more about the available endpoints.</p>
        </div>
        <div class="gif-container">
            <img src="../static/img/lol-funny-memes.gif" alt="Intro GIF">
        </div>
    </div>
{% endblock %}